@keyframes ferris {
    0% {rotate: 5deg;}
    100% {rotate: -5deg;}
}

.ferris {
    animation-name: ferris;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.ferris-container {
    height: 0; 
    width: 80%;
    text-align: center;
    position: absolute
}

.ferris-container > img {
    min-height: 4em; 
    max-height: 4em; 
    position: relative;
    z-index: 1;
}

.container{
    display: flex;
}
.col{
    flex: 1; 
    align-self: center;
}
.col-top{
    flex: 1; 
    align-self: top;
}

.inline-rust {
    display: inline !important;
    font-size: inherit !important;
    box-shadow: none !important;
}

.inline-rust > code {
    display: inline !important;
    white-space: unset !important;
    background: inherit !important;
}
